.todoApp {
  margin: 50px;
  border: 1px solid #000;
  padding: 10px 30px;
  background: #e1e1e1;
  position: relative;
}

section {
  display: flex;
}

section > div {
  margin: 10px 20px;
}

a {
  position: absolute;
  right: 30px;
  top: 20px;
}

.left {
  flex: 50%;
}

.right {
  flex: 50%;
}

#search {
  float: right;
}

input,
button {
  padding: 7px 10px;
  border: 1px solid #000;
  border-radius: 3px;
}

.todo {
  display: block;
  margin: 5px 0;
}